* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(253, 253, 253);
  display: flex;
    justify-content: center;
}
.full {
    width: ;
    height: 11inch;
    background-color: white;
    margin: 20px;
    display: grid;
    grid-template-columns: 2fr 4fr;
}
.left {
    width:auto;
  margin:10px;
  height:auto;

  }
.right {
    background-color: var(--white);
    height: auto;
    padding:30px;
    box-shadow: -0px 0px 0px 0px #54585d52;
    font-size: 12pt;
}
.title,.Summary, .work , .project {
    margin-bottom: 20px;
}
.image, .Contact, .Skills,  .Interests,.Achievements,.soft,.Language {
    margin-bottom: 42px;
}
 .container {
  position: relative;
   /* Maximum width */
  margin:auto; /* Center it */
}

.container .content {
  position: absolute; /* Position the background text */
  
  top: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 5, 0); /* Fallback color */

  background: rgba(30, 50, 60, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 104%; /* Full width */
  padding: 15px; /* Some padding */
 
  
}
@media screen and (max-width: 800px) {
  
  .right, .container,.content{
    word-wrap: break-word;
    
         
    width: auto;
    font-size: auto;}
  .Left{width:auto;
    
  }
  .full {
    width:auto;
  height:auto;}
    
        
         
    
    
}
