* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(253, 253, 253);
   display: flex;
    justify-content: center;
	
}
.full {
    width: 60%;
    width: 820px;
    height: 30.25cm;
    background-color: white;
    margin: 10px;
    display: grid;
    grid-template-columns: 2fr 4fr;
}
.left {
    font-size: 11.5pt;width: 7cm; float: left; height: 29.7cm;
  margin: 10px;
  
  



}
.right {
    width: 14cm;  background-color: var(--white); height: 29.7cm;;
    
    margin: 20px 0px; padding:20px 20px;
    box-shadow: -8px 50px 50px 10px #54585d52;
    font-size: 12pt
}
.title,.Summary, .work , .project {
    margin-bottom: 20px;
}
.image, .Contact, .Skills, .Education, .Interests,.Achievements,.soft,.Language {
    margin-bottom: 40px;
}
 .container {
  position: relative;
  max-width: 800px; /* Maximum width */
  margin: 0 auto; /* Center it */
}

.container .content {
  position: absolute; /* Position the background text */
  top: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 5, 0); /* Fallback color */

  background: rgba(30, 50, 60, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 103%; /* Full width */
  padding: 10px; /* Some padding */
  height: 30cm;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
  }